<!-- Start Header -->
<header class="header axil-header header-style-2 header-style-6">
  <!-- Start Header Top Area  -->
  <div class="axil-header-top">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-2 col-sm-3 col-5">
                  <div class="header-brand">
                      <a href="index.html" class="logo logo-dark">
                          <img src="assets/images/logo/log-1.png" alt="Site Logo">
                      </a>
                      <a href="index.html" class="logo logo-light">
                          <img src="assets/images/logo/logo-light.png" alt="Site Logo">
                      </a>
                  </div>
              </div>
              <div class="col-lg-10 col-sm-9 col-7">
                  <div class="header-top-dropdown dropdown-box-style">
                      <div class="axil-search">
                          <button type="submit" class="icon wooc-btn-search">
                              <i class="far fa-search"></i>
                          </button>
                          <input type="search" class="placeholder product-search-input" name="search2" id="search2" value="" maxlength="128" placeholder="Qué estás buscando..." autocomplete="off">
                      </div>
                      <div class="dropdown">
                          <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              $
                          </button>
                          <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">US$</a></li>
                          </ul>
                      </div>
                      <div class="dropdown">
                          <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              ES
                          </button>
                          <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">EN</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Header Top Area  -->

  <!-- Start Mainmenu Area  -->
  <div class="axil-mainmenu aside-category-menu">
      <div class="container">
          <div class="header-navbar">
              <div class="header-nav-department">
                  <aside class="header-department">
                      <button class="header-department-text department-title">
                          <span class="icon"><i class="fal fa-bars"></i></span>
                          <span class="text">Categorias</span>
                      </button>
                      <nav class="department-nav-menu" [ngClass]="{'d-none': !isHome()}">
                          <button class="sidebar-close"><i class="fas fa-times"></i></button>
                          <ul class="nav-menu-list">
                              <li>
                                  <a href="#" class="nav-link ">
                                      <span class="menu-icon"><img src="./assets/images/product/categories/cat-01.png" alt="Department"></span>
                                      <span class="menu-text">Moda</span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="nav-link has-megamenu">
                                      <span class="menu-icon"><img src="./assets/images/product/categories/cat-02.png" alt="Department"></span>
                                      <span class="menu-text">Electrónica</span>
                                  </a>
                                  <div class="department-megamenu">
                                      <div class="department-megamenu-wrap">
                                          <div class="department-submenu-wrap">
                                              <div class="department-submenu">
                                                  <h3 class="submenu-heading">Hombres</h3>
                                                  <ul>
                                                      <li><a href="shop.html">Camisetas</a></li>
                                                      <li><a href="shop-sidebar.html">Camisas</a></li>
                                                      <li><a href="shop.html">Jeans</a></li>
                                                  </ul>
                                                  <h3 class="submenu-heading">Bebé</h3>
                                                  <ul>
                                                      <li><a href="shop.html">Ropa de bebé</a></li>
                                                      <li><a href="shop-sidebar.html">Artículos para bebé</a></li>
                                                      <li><a href="shop.html">Bebé niño</a></li>
                                                      <li><a href="shop-sidebar.html">Juguetes de bebe</a></li>
                                                  </ul>
                                              </div>
                                              <div class="department-submenu">
                                                <h3 class="submenu-heading">Hombres</h3>
                                                <ul>
                                                    <li><a href="shop.html">Camisetas</a></li>
                                                    <li><a href="shop-sidebar.html">Camisas</a></li>
                                                    <li><a href="shop.html">Jeans</a></li>
                                                </ul>
                                                <h3 class="submenu-heading">Bebé</h3>
                                                <ul>
                                                    <li><a href="shop.html">Ropa de bebé</a></li>
                                                    <li><a href="shop-sidebar.html">Artículos para bebé</a></li>
                                                    <li><a href="shop.html">Bebé niño</a></li>
                                                    <li><a href="shop-sidebar.html">Juguetes de bebe</a></li>
                                                </ul>
                                            </div>
                                            <div class="department-submenu">
                                                <h3 class="submenu-heading">Hombres</h3>
                                                <ul>
                                                    <li><a href="shop.html">Camisetas</a></li>
                                                    <li><a href="shop-sidebar.html">Camisas</a></li>
                                                    <li><a href="shop.html">Jeans</a></li>
                                                </ul>
                                                <h3 class="submenu-heading">Bebé</h3>
                                                <ul>
                                                    <li><a href="shop.html">Ropa de bebé</a></li>
                                                    <li><a href="shop-sidebar.html">Artículos para bebé</a></li>
                                                    <li><a href="shop.html">Bebé niño</a></li>
                                                    <li><a href="shop-sidebar.html">Juguetes de bebe</a></li>
                                                </ul>
                                            </div>
                                          </div>
                                          <div class="featured-product">
                                              <h3 class="featured-heading">Presentado</h3>
                                              <div class="product-list">
                                                  <div class="item-product">
                                                      <a href="#"><img src="./assets/images/product/product-feature1.png" alt="Featured Product"></a>
                                                  </div>
                                                  <div class="item-product">
                                                      <a href="#"><img src="./assets/images/product/product-feature2.png" alt="Featured Product"></a>
                                                  </div>
                                                  <div class="item-product">
                                                      <a href="#"><img src="./assets/images/product/product-feature3.png" alt="Featured Product"></a>
                                                  </div>
                                                  <div class="item-product">
                                                      <a href="#"><img src="./assets/images/product/product-feature4.png" alt="Featured Product"></a>
                                                  </div>
                                              </div>
                                              <a href="#" class="axil-btn btn-bg-primary">Ver todas las ofertas</a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <a href="#" class="nav-link">
                                      <span class="menu-icon"><img src="./assets/images/product/categories/cat-03.png" alt="Department"></span>
                                      <span class="menu-text">Decoración del hogar</span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="nav-link">
                                      <span class="menu-icon"><img src="./assets/images/product/categories/cat-04.png" alt="Department"></span>
                                      <span class="menu-text">Medicamento</span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="nav-link">
                                      <span class="menu-icon"><img src="./assets/images/product/categories/cat-05.png" alt="Department"></span>
                                      <span class="menu-text">Muebles</span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="nav-link">
                                      <span class="menu-icon"><img src="./assets/images/product/categories/cat-06.png" alt="Department"></span>
                                      <span class="menu-text">Artesanía</span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="nav-link">
                                      <span class="menu-icon"><img src="./assets/images/product/categories/cat-07.png" alt="Department"></span>
                                      <span class="menu-text">Accesorios</span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="nav-link">
                                      <span class="menu-icon"><img src="./assets/images/product/categories/cat-08.png" alt="Department"></span>
                                      <span class="menu-text">Camara</span>
                                  </a>
                              </li>

                          </ul>
                      </nav>
                  </aside>
              </div>
              <div class="header-main-nav">
                  <!-- Start Mainmanu Nav -->
                  <nav class="mainmenu-nav">
                      <button class="mobile-close-btn mobile-nav-toggler"><i class="fas fa-times"></i></button>
                      <div class="mobile-nav-brand">
                          <a href="index.html" class="logo">
                              <img src="assets/images/logo/log-1.png" alt="Site Logo">
                          </a>
                      </div>
                      <ul class="mainmenu">
                          <li class="">
                              <a href="#">Inicio</a>
                             
                          </li>
                          <li class="">
                              <a href="filtro-de-productos">Productos</a>
                              
                          </li>
                          <li><a href="/nosotros">Nosotros</a></li>
                          <li class="">
                              <a href="/blog">Blog</a>
                          </li>
                          <li><a href="/contacto">Contacto</a></li>
                      </ul>
                  </nav>
                  <!-- End Mainmanu Nav -->
              </div>
              <div class="header-action">
                  <ul class="action-list">
                      <li class="axil-search d-sm-none d-block">
                          <a href="javascript:void(0)" class="header-search-icon" title="Search">
                              <i class="flaticon-magnifying-glass"></i>
                          </a>
                      </li>
                      <li class="wishlist" *ngIf="user">
                          <a href="wishlist.html">
                              <i class="flaticon-heart"></i>
                          </a>
                      </li>
                      <li class="shopping-cart" *ngIf="user">
                          <a href="#" class="cart-dropdown-btn">
                              <span class="cart-count">{{ listCarts.length }}</span>
                              <i class="flaticon-shopping-cart"></i>
                          </a>
                      </li>
                      <li class="my-account">
                          <a href="javascript:void(0)">
                              <i class="flaticon-person"></i>
                          </a>
                          <small *ngIf="user">{{ user.name }}</small> 
                          <div class="my-account-dropdown">
                              <span class="title">ENLACES RÁPIDOS</span>
                              <ul>
                                  <li>
                                      <a href="my-account.html">Mi cuenta</a>
                                  </li>
                                  <li>
                                      <a href="#">Iniciar regreso</a>
                                  </li>
                                  <li>
                                      <a href="#">Apoyo</a>
                                  </li>
                                  <li>
                                      <a href="#">Idioma</a>
                                  </li>
                              </ul>
                              <a [routerLink]="[ '/auth/login' ]" class="axil-btn btn-bg-primary" *ngIf="!user">Acceso</a>
                              <a href="#" onclick="return false;" (click)="logout()" class="axil-btn btn-bg-primary" *ngIf="user">Cerrar sesión</a>
                              <div class="reg-footer text-center">¿No tienes cuenta aún? <a [routerLink]="['/auth/registro']" class="btn-link">REGISTRAR AQUÍ.</a></div>
                          </div>
                      </li>
                      <li class="axil-mobile-toggle">
                          <button class="menu-btn mobile-nav-toggler">
                              <i class="flaticon-menu-2"></i>
                          </button>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <!-- End Mainmenu Area  -->
</header>


    <!-- Header Search Modal End -->
    <div class="header-search-modal" id="header-search-modal">
        <button class="card-close sidebar-close"><i class="fas fa-times"></i></button>
        <div class="header-search-wrap">
            <div class="card-header">
                <form action="#">
                    <div class="input-group">
                        <input type="search" class="form-control" [(ngModel)]="search_product" (keyup.enter)="searchProduct()" name="prod-search" id="prod-search" #filter placeholder="Write Something....">
                        <button type="submit" class="axil-btn btn-bg-primary"><i class="far fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <div class="search-result-header">
                    <h6 class="title">{{ products_search.length }} Resultado encontrado</h6>
                    <a href="shop.html" class="view-all">Ver todo</a>
                </div>
                <div class="psearch-results">
                    <ng-container *ngFor="let product of products_search">
                        <div class="axil-product-list">
                            <div class="thumbnail">
                                <a [routerLink]="[ '/landing-producto/', product.slug ]" [queryParams]="getRouterDiscount(product)">
                                    <img [src]="product.imagen" width="120px" alt="Yantiti Leather Bags">
                                </a>
                            </div>
                            <div class="product-content">
                                <div class="product-rating">
                                    <span class="rating-icon">
                                    <i class="fas fa-star" [ngClass]="{'start-del': product.avg_review < 1}"></i>
                                    <i class="fas fa-star" [ngClass]="{'start-del': product.avg_review < 2}"></i>
                                    <i class="fas fa-star" [ngClass]="{'start-del': product.avg_review < 3}"></i>
                                    <i class="fas fa-star" [ngClass]="{'start-del': product.avg_review < 4}"></i>
                                    <i class="fas fa-star" [ngClass]="{'start-del': product.avg_review < 5}"></i>
                                </span>
                                    <span class="rating-number"><span>{{ product.count_review }}+</span> Reseñas</span>
                                </div>
                                <h6 class="product-title"><a [routerLink]="[ '/landing-producto/', product.slug ]" [queryParams]="getRouterDiscount(product)">{{ product.title }}</a></h6>
                                <div class="product-price-variant">
                                    <span class="price old-price" *ngIf="product.campaing_discount">{{ product.price_usd }} $</span>
                                    <span class="price current-price">{{ product.price_usd - getDiscountProduct(product) }} $</span>
                                </div>
                                <div class="product-cart">
                                    <a href="cart.html" class="cart-btn"><i class="fal fa-shopping-cart"></i></a>
                                    <a href="wishlist.html" class="cart-btn"><i class="fal fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Header Search Modal End -->



    <div class="cart-dropdown" id="cart-dropdown">
        <div class="cart-content-wrap">
            <div class="cart-header">
                <h2 class="header-title">Revisión del carrito</h2>
                <button class="cart-close sidebar-close"><i class="fas fa-times"></i></button>
            </div>
            <div class="cart-body">
                <ul class="cart-item-list">
                    <ng-container *ngFor="let cart of listCarts">
                        <li class="cart-item">
                            <div class="item-img">
                                <a href="single-product.html"><img [src]="cart.product.imagen" alt="Commodo Blown Lamp"></a>
                                <button class="close-btn" (click)="removeCart(cart)"><i class="fas fa-times"></i></button>
                            </div>
                            <div class="item-content">
                                <div class="product-rating">
                                    <span class="icon">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                    <span class="rating-number">(64)</span>
                                </div>
                                <h3 class="item-title"><a href="single-product-3.html">{{ cart.product.title }}</a></h3>
                                <span *ngIf="cart.variedad"><small>VARIEDAD: {{ cart.variedad.valor }}</small></span>
                                <div class="item-price"><span class="currency-symbol"></span>{{ cart.total }} USD</div>
                                <div class="pro-qty item-quantity">
                                    <input type="number" class="quantity-input" [value]="cart.cantidad">
                                </div>
                            </div>
                        </li>
                    </ng-container>
                    
                </ul>
            </div>
            <div class="cart-footer">
                <h3 class="cart-subtotal">
                    <span class="subtotal-title">Subtotal:</span>
                    <span class="subtotal-amount">{{ totalCarts }} USD</span>
                </h3>
                <div class="group-btn">
                    <a routerLink="/lista-de-carritos" class="axil-btn btn-bg-primary viewcart-btn">Ver carrito</a>
                    <a routerLink="/proceso-de-pago" class="axil-btn btn-bg-secondary checkout-btn">Verificar</a>
                </div>
            </div>
        </div>
    </div>